<ul class="bg-light-main mt-7 py-4 px-5 rounded-lg gap-6 inline-flex self-end">
  <% if (currentPage > 1) { %>
  <li>
    <a
      href="?page=<%= currentPage - 1 %>"
      class="w-6 h-6 bg-light-white rounded grid place-items-center text-sm"
    >
      <
    </a>
  </li>
   <% } %> 
        <%
          const maxVisible = 3;
          let start = Math.max(1, currentPage - 1);
          let end = start + maxVisible - 1;

          if (end > totalPages) {
            end = totalPages;
            start = Math.max(1, end - maxVisible + 1);
          }
        %>
          <% for (let i = start; i <= end; i++) { %> 
  <li>
    <a
      href="?page=<%= i %>"
      class="w-6 h-6 bg-light-white rounded grid place-items-center text-sm"
    >
      <%= i %>
    </a>
  </li>
  <% } %> 
          
<% if (currentPage < totalPages) { %> 
  <li>
    <a
      href="?page=<%= currentPage + 1 %>"
      class="w-6 h-6 bg-light-white rounded grid place-items-center text-sm"
    >
      >
    </a>
  </li>
  <% } %>
</ul>
